$color-fonts: #fff;
%flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin setheight($currentvh, $heightUsed ){    
    height: calc( #{$currentvh} - #{$heightUsed} );
}

body {
  margin: 0;
  font-family: "Muli", sans-serif;
  color: $color-fonts;
  background: linear-gradient(#21c08b, #8f57fd);
}

/* HEADER */
.header {
  height: 70px;
  padding: 15px;
}

.header__container-logo {
  margin: 0;
  display: inline-block;
  height: inherit;
}

.header__container-logo img {
  display: inline-block;
  height: inherit;
  vertical-align: top;
}

.notfound {
  @include setheight( 100vh, 200px );
  @extend %flex-center;
//   display: flex;
//   justify-content: center;
//   align-items: center;

  div {
    @extend %flex-center;
    // display: flex;
    // align-items: center;
    flex-direction: column;
  }
}

// .notfound{
//     height: calc(100vh - 200px);
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .notfound__message{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

.notfound__message-error {
  margin: 0;
  font-size: 48px;
  font-weight: 600;
  animation-name: scaletext;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes scaletext {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

/* FOOTER */
.footer {
  padding: 20px 10px;
  height: 100px;
  box-sizing: border-box;
  @extend %flex-center;
//   display: flex;
//   align-items: center;
}

.footer a {
  color: $color-fonts;
  text-decoration: none;
  margin-right: 15px;
  font-size: 0.9em;
}
.footer a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 468px) {
  .header {
    height: 50px;
    padding: 10px;
  }

  .notfound {
    @include setheight(100vh, 170px);    
  }

  .notfound__message-error {
    font-size: 30px;
  }

  .footer {
    padding: 10px 0px;
    height: 100px;
    box-sizing: border-box;
    @extend %flex-center;
    // display: flex;
    // align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
}
